.CardMediaImage {
   min-height: 10rem;
   max-height: 10rem;
   min-width: 15rem;
   max-width: 15rem;
}

label.PDFLabel {
    margin-left: 10px;
}
.allign-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn-yes{
    background-color: darkred !important;
    color: white !important;
    margin-left: 40px !important ;
}
.delete-btn-no{
    background-color: gray !important;
    color: white !important;
    margin-left: 60px !important ;

}
.delete-btn-no:hover{
    background-color: gray !important;
    color: white !important;


}
.delete-btn-yes:hover{
    background-color: darkred !important;
}