.css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 14px 14px !important;
}

.css-dyifkg {
    width: 80%;
    max-width: 350px !important;
}
.password-div{
    position: relative;
}
.eye_icon_open{
    position: absolute;
    top: 30px;
    right: 6px;
}

.css-1vmdpmw {
    padding: 13% !important;
}
.css-1m8t4fh-MuiPaper-root {
    background-color: ghostwhite !important;
}
