
.main-body-login{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sub-content-div-login{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;

    height: 40rem;
    width: 75rem;
    background-color: aqua;

}
.image-div-login{
    height: 100%;
    width: 50%;
    background-color: beige;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    
    /* background-image: url('../../asserts//ttdc_login_bg.jpg');
background-size: cover;
background-repeat: no-repeat; */
}
.content-div-login{
    height: 100%;
    width: 50%;
    background-color: aquamarine; 
}